*{
  margin:0;
  padding:0;
}
#imagenes{
  background-color:#ccc;
  width:100%;
  position:relative;
  margin-top:1%;
}
#banner{
  width:60%;
  border-radius:2%;
  height:auto;
  margin:auto;
  display:block;
}
#perfil{
  width:15%;
  border:2px solid grey;
  height:auto;
  border-radius:50%;
  position:absolute;
  left:13%;
  top:75%;
}
.card{
  margin-right:10%;
  margin-left:10%;
}
.card1{
  margin-top:7%;
}
.card2{
  margin-top:1%;
  margin-bottom:10%;
}
.card3{
  margin-top:1%;
}
.list{
  display:inline-block;
  list-style:none;
}
.list img{
  height:5em;
}








.contenedor-de-imagenes{
  width:100%;
  position:relative;
  margin-top:1%;
  height:370px;
}
#foto-banner{
  height:auto;
  margin:auto;
  display:block;
}
#foto-perfil{
  width:15%;
  border:2px solid grey;
  height:auto;
  border-radius:50%;
  position:absolute;
  left:1%;
  top:60%;
}
#list1{
  display:inline-block;
}
#list2{
  display:inline-block;
}